@import "src/styles/mixins/mixins";

.container {
  width: 25px;
  height: 100%;
  padding-top: 50px;
  font-size: 11px;
  color: var(--font-color-grey);
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  list-style-type: none;

  @include row-direction-justify;
  justify-content: center;
  align-items: center;
  gap: 49px;

  li:hover {
    cursor: pointer;
    color: var(--font-color-gold);
  }
}