@import "src/styles/mixins/mixins";

.container {
  width: 25px;
  height: 100%;
  padding-top: 50px;

  list-style-type: none;

  transform: rotate(180deg);

  color: var(--font-color-grey);

  font-size: 11px;
  writing-mode: vertical-lr;
  gap: 49px;

  li:hover {
    cursor: pointer;

    color: var(--font-color-gold);
  }

  @include center-content-inside;
}