@import "src/styles/mixins/mixins";

.container {
  width: 1320px;
  height: 528px;

  @include row-direction-justify;
}

.content {
  justify-content: space-between;

  height: 100%;

  color: #FFF;

  @include container-position-center;
}

.heading {
  position: relative;

  margin-bottom: 45px;

  font-size: var(--big-font-size);

  img {
    position: absolute;
    right: 10px;
    bottom: 80px;
  }
}

.text {
  width: 100%;
  margin-bottom: 53px;

  color: var(--font-color-grey);

  font-size: var(--normal-font-size);
}

.links {
  display: flex;
  align-items: center;
  justify-content: left;

  width: 100%;

  font-size: var(--normal-font-size);
  gap: 40px;

  a {
    text-decoration: none;

    color: #FFF;
  }

  a:hover {
    color: var(--font-color-gold);
  }
}