@import "src/styles/mixins/mixins";

.container {
  width: 178px;
  height: 62px;

  color: #FFF;
  border: 1px solid #FFF;

  @include center-content-inside;
}

.container:hover {
  cursor: pointer;
}