@import "src/styles/mixins/mixins";

.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 1069px;
  padding-top: 20px;
  padding-left: 20px;

  background-image: linear-gradient(to right, var(--black-background) 44%, var(--black-background) 44%),
  linear-gradient(to right, var(--main-color) 56%, var(--main-color) 56%);
  background-repeat: no-repeat;
  background-position: left top, right top;
  background-size: 56% 100%, 44% 100%;
}

.mainBlock {
  display: flex;
  flex-direction: row;

  height: 528px;
  gap: 15px;
}