.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.date {
  color: var(--main-color);

  font-size: 16px;
}

.head {
  color: #FFF;

  font-size: 23px;
}

.mainDate {
  color: var(--main-color);

  font-size: var(--normal-font-size);
}

.mainHead {
  color: #FFF;

  font-size: 34px;
}
