@import "src/styles/mixins/mixins";

.container {
  width: 100%;
  height: 507px;
  padding-top: 130px;

  background-color: var(--grey-background);

  @include container-position-center;
}

.content {
  display: flex;
  flex-direction: row;

  width: 1320px;
  height: 202px;
  gap: 150px;
}

.logotype {
  display: flex;
  flex-direction: column;

  width: 298px;
  height: 100%;

  color: var(--font-color-grey);
  gap: 55px;
}