:root {
	--content-width: 1440px;
	--main-color: #57B7FD;
	--second-color: #F8C322;
	--font-color-gold: #FAC422;
	--font-color-grey: #80858F;
	--black-background: #000;
	--grey-background: #2A313C;
	--big-font-size: 72px;
	--medium-font-size: 64px;
	--midle-font-size: 36px;
	--normal-font-size: 18px;
	--small-font-size: 16px;
}
