:root {
  --content-width: 1440px;

  --main-color: #57b7fd;
  --second-color: #f8c322;

  --font-color-gold: #fac422;
  --font-color-grey: #80858f;

  --black-background: #000000;
  --grey-background: #2a313c;

  --big-font-size: 72px;
  --medium-font-size: 64px;
  --midle-font-size: 36px;
  --normal-font-size: 18px;
  --small-font-size: 16px;
}
