@import "src/styles/mixins/mixins";

.container {
  width: 535px;
  height: 26px;

  font-size: var(-small-font-size);
  color: #fff;

  list-style-type: none;
  @include row-direction-justify;

  li {
    text-decoration: none;
    color: #fff;
  }

  li:hover {
    cursor: pointer;
    color: var(--font-color-gold);
  }
}