@import "src/styles/mixins/mixins";

.container {
  width: 535px;
  height: 26px;

  list-style-type: none;

  color: #FFF;

  font-size: var(-small-font-size);

  li {
    text-decoration: none;

    color: #FFF;
  }

  li:hover {
    cursor: pointer;

    color: var(--font-color-gold);
  }

  @include row-direction-justify;
}