@import "src/styles/mixins/mixins";

.container {
  width: 203px;
  height: 70px;

  color: #FFF;
  background-color: var(--main-color);

  font-size: var(--normal-font-size);

  @include center-content-inside;
}

.container:hover {
  cursor: pointer;
}