@import "src/styles/mixins/mixins";

.container {
  width: 100%;
  height: 1222px;
  padding-top: 130px;

  background-color: var(--black-background);

  @include container-position-center;
}

.content {
  width: 1320px;
}

.heading {
  align-items: end;

  width: 100%;
  height: 196px;
  margin-bottom: 64px;

  @include row-direction-justify;
}

.header {
  width: 652px;

  color: #FFF;

  font-size: var(--medium-font-size);
}