.container {
	width: 174px;
	height: 102px;

	img {
		box-sizing: border-box;

		transition: border-color 0.3s ease;

		border: 11px solid transparent;
		border-radius: 20px;
	}

	img:hover {
		border-color: #3B3D46;
	}
}