.container {
	width: 168px;
	height: 202px;

	h6 {
		margin-bottom: 23px;

		color: #FFF;

		font-size: var(--normal-font-size);
		font-weight: 400;
	}
}

.list {
	list-style-type: none;

	color: var(--font-color-grey);

	font-size: 15px;
	line-height: 37.5px;

	li:hover {
		cursor: pointer;

		color: var(--font-color-gold);
	}
}
